.root {
    -fx-background-color: #000000;
    -fx-padding: 20px;
}

.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #00ff00;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #000000;
    -fx-text-fill: #00ff00;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-border-color: #00ff00;
    -fx-border-width: 3px;
    -fx-border-radius: 8px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #003300;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #00ff00;
}

.button-container {
    -fx-spacing: 10px;
    -fx-alignment: center;
}
